absl-py==0.8.1
appdirs==1.2.0
appnope==0.1.0
asgiref==3.2.7
asn1crypto==0.24.0
astor==0.8.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.6.2
Automat==0.7.0
Babel==2.7.0
backcall==0.1.0
bleach==3.1.5
blis==0.4.1
boto3==1.13.0
botocore==1.16.0
cachetools==3.1.1
catalogue==1.0.0
certifi==2019.3.9
cffi==1.12.3
channels==2.2.0
chardet==3.0.4
click==7.1.1
cloudpickle==1.2.2
colorama==0.2.7
configparser==3.7.4
constantly==15.1.0
cryptography==2.7
cycler==0.10.0
cymem==2.0.3
daphne==2.3.0
dateparser==0.7.1
decorator==4.4.2
defusedxml==0.6.0
Django==1.8.14
django-allauth==0.39.1
django-angular==0.7.8
django-appconf==1.0.3
django-auth==0.1.9
django-bower==5.2.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.9.1
django-extra-views==0.7.1
django-ipware==2.1.0
django-jet==1.0.8
django-jsonfield==1.4.0
django-markdownx==2.0.28
django-meta==1.5.1
django-mysql==3.1.0
django-notifications==0.1.dev0
django-pagedown==1.0.6
django-phonenumber-field==3.0.1
django-post-office==3.2.1
django-qr-code==1.0.0
django-recurrence==1.9.0
django-relatedadminwidget==0.0.3
django-relatives==0.3.1
django-reversion==1.8.0
django-scheduler==0.8.7
django-summernote==0.8.11.4
django-tempus-dominus==5.1.2.5
django-tinymce==2.8.0
django-todo==2.4.8
djangorestframework==3.9.4
docopt==0.6.1
docutils==0.15.2
elasticsearch==7.1.0
en-core-web-md==2.2.5
en-core-web-sm==2.2.5
entrypoints==0.3
factory-boy==2.4.1
featureforge==0.1.6
future==0.11.4
gast==0.2.2
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
gym==0.15.4
h5py==2.10.0
httplib2==0.13.0
hyperlink==19.0.0
icalendar==4.0.3
idna==2.8
importlib-metadata==1.6.0
incremental==17.5.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
jet-bridge==0.3.8
jieba==0.39
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.13.2
jsonfield==1.0.0
jsonpatch==1.24
jsonpointer==2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kafka-python==1.4.7
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mock==4.0.2
murmurhash==1.0.2
mysql==0.0.2
mysqlclient==1.4.5
nbconvert==5.6.1
nbformat==5.0.6
neuralcoref==4.0
nltk==3.5
nose==1.3.7
notebook==6.0.3
notifications==0.3.2
numpy==1.17.2
oauth2client==4.1.3
oauthlib==3.0.1
opencv-python==4.1.1.26
opt-einsum==3.1.0
packaging==20.3
pandas==0.25.1
pandocfilters==1.4.2
parso==0.7.0
pbr==3.1.1
pexpect==4.8.0
phonenumbers==8.10.13
pickleshare==0.7.5
Pillow==6.0.0
pinax-stripe==4.4.0
plac==0.9.6
preshed==3.0.2
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.10.0
psycopg2-binary==2.8.2
ptyprocess==0.6.0
py4j==0.10.7
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pyglet==1.3.2
Pygments==2.6.1
PyHamcrest==1.9.0
PyJWT==1.7.1
pymongo==3.10.1
PyMySQL==0.9.3
pyparsing==2.4.2
pyrsistent==0.16.0
PySocks==1.7.1
pyspark==2.4.4
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.1.2
pyzmq==18.1.0
qrcode==6.1
qtconsole==4.7.3
QtPy==1.9.0
REfO==0.13
regex==2019.6.8
reportlab==3.5.23
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
s3transfer==0.3.3
schema==0.3.1
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
spacy==2.2.4
SQLAlchemy==1.3.5
sqlparse==0.3.0
srsly==1.0.2
stripe==2.29.4
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==7.4.0
torch==1.2.0
torchfile==0.1.0
torchvision==0.4.0
tornado==6.0.3
tqdm==4.45.0
traitlets==4.3.3
tweepy==3.8.0
Twisted==19.2.1
txaio==18.8.1
tzlocal==1.5.1
Unidecode==1.1.0
uritemplate==3.0.0
urllib3==1.25.3
uwsgidecorators==1.1.0
virtualenv==16.6.0
visdom==0.1.8.9
wasabi==0.6.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.16.0
wget==2.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xmltodict==0.8.6
zipp==3.1.0
zope.interface==4.6.0
